.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    color: #ffffff;
}


.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.3);
    margin: 16px;
}

.site-layout .site-layout-background {
    background: #fff;
}

#root {
    height: 100%;
    .ant-layout {
        height: 100%;
    }
}
.ant-layout-header {
    background-color: #242f42;
    .title {
        color: #ffffff;
        font-size: 22px;
    }
}
.ant-layout-sider {
    background-color: #324157;
}
.ant-menu.ant-menu-dark {
    // color: rgba(255, 255, 255, 0.65);
    background: #324157;
}
.ant-menu-item-selected {
    background-color: #324157;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: unset;
    span{
        color: #409eff;
    }
    
}